/**
 * basic layout
 */


body {
    font-family: 'Oxygen', sans-serif;
    color: white;
    line-height: 150%;
}

#bold {
    font-weight:700;
}

	/* colors */
	#header,
	#footer {
		background-color: #535c68;
	}
	
	#main-wrap {
		background-color: #0652DD;
	}
	
	#sidebar {
		background-color: #95afc0;
        
;
	}
	
	#content-wrap {
		background-color: white;
	}
	
	/* sizes */
	#main-wrap > div {
		min-height: 450px;
	}
	
	
	#header,
	#footer {
		min-height: 40px;
	}
	
	

	#main-wrap > div { 
        min-height: 800px; 
        
}
	
	
	#header,
	#footer {
	    min-height: 40px;
	}

#content-wrap {
    color: black;
}
	
	
	/* layout */
	#main-wrap {
	    /* overflow to handle inner floating block */
	    overflow: hidden;
	}
	
	#sidebar {
	    float: left;
	    width: 10%;
        text-align: center;
	}
	
	#content-wrap {
	    float: right;
	    width: 90%;
	}  

    #header,
	#footer {
	    padding-top: 20px;
        text-align: center;
        font-weight: 700;
	}

.textContent {
    display: inline-block;
/*    border: 2px solid red;*/
    clear: left;
    vertical-align: top;
    
}
.imgContent {
    display: inline-block;
    border: 2px solid red;
    
}

/* links */

a:link, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    font-weight: 700;
}


	