body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3f7f8;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
/*  text-decoration: none; this one won't work on its own */
  text-decoration: none!important;
  font-size: 20px;
  color: #15325f;
  display: block;
}


.w3-display-container {
    width: 600px;
    float: left;
    margin-top: 20px;
}

ul.nav, ul.nav-pills {
    margin-bottom: 50px;
}

ul.cd-faq-categories {
    margin-bottom: 50px;
}

.cd-faq-content {
    font-style: italic;
    font-weight: bold;
}


.sidebar a:hover {
  font-weight: bold!important; /*not sure yet why this won't work without important */
}


.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 60px;
  color: #15325f;
}

.main a {
    color: #15325f;
/*    font-weight: 600;*/
}

.hide {
    display:none;
}

ul {
    list-style: none;
}
.tab-pane h3 {
    font-weight: 600;
}

div h3 {
    text-decoration: underline;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}